body {
  background: #f5f6fa;
  font-family: Arial, sans-serif;
}

/* CONTEÚDO */
.content {
  margin-left: 240px;
  padding: 20px;
}

/* CARD PRODUTO */
.card-produto {
  border-radius: 10px;
  transition: 0.2s;
}

.card-produto:hover {
  transform: scale(1.02);
}

/* BUSCA */
.search-box {
  margin-bottom: 20px;
}

/* CARRINHO LATERAL */
.offcanvas{
  width:350px;
}

.cart-item{
  padding:12px 0;
  border-bottom:1px solid #f1f5f9;
}

.cart-info{
  display:flex;
  justify-content:space-between;
  font-size:14px;
  color:#111827;
}

.cart-actions{
  display:flex;
  align-items:center;
  gap:8px;
  margin-top:8px;
}

.btn-qty{
  width:28px;
  height:28px;
  border:none;
  border-radius:6px;
  background:#f3f4f6;
}

.btn-qty:hover{
  background:#e5e7eb;
}

.qty{
  min-width:20px;
  text-align:center;
}

.remove-btn{
  margin-left:auto;
  font-size:12px;
  color:#dc2626;
  background:none;
  border:none;
}

.cart-footer{
  margin-top:15px;
}

.total{
  font-weight:600;
  margin-bottom:10px;
}

.btn-finalizar{
  width:100%;
  padding:10px;
  background:#16a34a;
  border:none;
  color:white;
  border-radius:10px;
}

.empty-cart{
  text-align:center;
  color:#6b7280;
}
/* DASHBOARD VENDEDOR */

.dashboard {
  margin-left: 240px;
  padding: 20px;
}

.card-resumo {
  border-radius: 12px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.bg-vendas { background: #28a745; }
.bg-pedidos { background: #007bff; }
.bg-faturamento { background: #ffc107; color: black; }

/* PRODUTOS */
.produto-card {
  border-radius: 10px;
  transition: 0.2s;
}

.produto-card:hover {
  transform: scale(1.02);
}

/* PEDIDOS */
.pedido-card {
  border-left: 5px solid #28a745;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
}

/* BOTÕES */
.btn {
  border-radius: 8px;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}